<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>About</title>
<style>
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
</style>
</head>
<body>

<div class="scrollmenu">
  <a href="/ab">Home</a>
  <a href="#news">About</a>
  </div>
  <div class="main">
  <h1>HISTORY </h1>
  <p>

Ranada Prasad Shaha University (RPSU) is an institution of Kumudini Welfare Trust of Bengal (BD) Ltd. The journey of the Trust began almost 75 years ago when the great philanthropist Rai Bahadur Ranada Prasad Shaha set up a free dispensary in his village home in 1938.R P Shaha was born poor, became very wealthy through his business ventures only to give away all his wealth voluntarily.


Between 1938 and 1944 R P Shaha had set up a 750-bed free hospital named Kumudini Hospital. He established a girls residential high school named Bharateswari Homes, Kumudini Girls College and Debendra College in the 1940s. In 1944 he donated an amount of Rs. 250,000/- to the British Red Cross which was more than a quarter million US dollars at that time.

R P Shaha and his only son were abducted by the Pakistan Army and their collaborators during Bangladesh war of independence in 1971. They never returned.

From the very beginning in the late 1930s the Trust has been actively involved in providing education to the masses, especially to the poor and disadvantaged group of the society. After independence in 1971, the Trust has been able to set up a Women's Medical College along with a Dental Unit, a Nursing School and a Nursing College. Having the long experience in the field of education, the Trust considers it to be an obligation to provide higher education through establishment of a university.
</p>
</div>


</body>
</html>

