<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admission</title>
<style>
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
</style>
</head>
<body>

<div class="scrollmenu">
  <a href="/adm">Home</a>
  <a href="#news">Admission</a>
  </div>
  <div class="main">
  <h1>Admission policies </h1>
  <p>Application

A Student interested in taking admission in RPSU should procure admission form from the admission office and return the filled in application form along with other documents to the admission office. Photocopies of all certificates, mark sheets, testimonials, two copy of passport size photo are required to be submitted with the admission form. After primary scrutiny, applicants will be called to sit for an admission test and interview. Admission tests are conducted for spring, summer and fall semesters. Test dates are published in the university website at http://www.rpsu.edu.bd. 

Admission on Credit Transfer

A Student desiring to transfer his/her credits is expected to have at least a CGPA of 2.5 in all previous examinations to be considered for admission to the University. S/he must submit syllabus, official transcripts and no objection certificate from previously attended institutions along with the admission applications. Admission Test may be required for a student desiring transfer of credits. Individual department may have some additional requirements.


Admission of Foreign Applicants

International applicants seeking admission to RPSU must meet the equivalent academic standards that are for admission for native students. International applicants are selected on the basis of their prior academic work, English proficiency and certification of adequate financial resources.


Admission Cancellation

Admission of any student may be cancelled by RPSU authority for the following reason(s):

    ·If a student does not continue 3 trimesters consecutively.
    · If a student does not pay his/her dues in time.
    · If a student fails to produce necessary academic documents to the admission office.
    · If a student takes part in any activity that goes against discipline or RPSU rules & regulations.


Provisional Admission

RPSU may provisionally accept applicants for admission who cannot produce official transcripts, certificates and other necessary documents at the time of admission. As a prerequisite all provisionally admitted students will be required to submit the appropriate credentials to continue. Required credentials must be submitted within the semester of initial enrollment.


Readmission

A RPSU student whose admission has been cancelled must submit an application for readmission. If this student has attended other colleges and universities during his/her absence at RPSU s/he must submit official transcripts along with applications. Such a student will have to pay the readmission fees.

Grade Requirement for Degree

To earn an Undergraduate Degree from RPSU, a student must complete his degree requirements with a minimum CGPA of 2.50.

Class Attendance

A student is expected to attend reasonable portion (not less than 80%) of the lectures, tutorials and practical classes for the respective course. It is the responsibility of the instructor to inform the student of the consequences of absence from class. It is the responsibility of the student to keep instructors informed regarding absences from classes. A student who knows of necessary class absences should consult instructors in advance. A student who misses a class is not excused from obligations to instructors. Instructors will determine the manner in which assignments and examinations missed may be made up. A student may be dropped from a course for absence in five consecutive classes.

Probation and Dismissal

A Student whose CGPA falls below 2.50 after the first two trimesters will be placed on probation for the next two trimesters. Failure to raise their CGPA to at least 2.50 after the probation period will lead to dismissal from the university. If a student’s CGPA falls below 2.50 subsequently, s/he will again be placed on probation. Students who fail to achieve a GPA of 2.50 within three trimesters will be dismissed from the university. A student dismissed on academic ground(s) may be allowed to be admitted in another program with permission of the university authority.

Discontinuation

        Discontinuance of studies results either in the issuance of transfer of credentials (honorable dismissal) issued by the Registrar's Office for responsible cause or upon petition of the student or an order of dismissal by the university after the commission of a major offense specified in the code of conduct for students. Should a student wish to leave the university temporarily, he must first secure permission from the office stating the definite period and reason for the leave. A student must obtain approval on the Leave of Absence form, which can be secured from the Registrar's Office; otherwise, the period of his/her absence shall be counted against him/her for purpose of the time limit or maximum residency.

Adding/ Dropping of Courses

A student who seeks to add or drop courses should consult his/her advisors and instructors of relevant courses. S/he may add/drop courses only within the date mentioned in the Academic Calendar and only with the approval of their academic advisors. All adding or dropping of course(s) must be done through the registration office of the university. A 10% penalty will be charged for all dropped course(s). However, the minimum load has to be ensured after dropping of course(s). The grade “Withdrawal” (W) is assigned when a student officially drops a course.

Course Withdrawal

Students interested to withdraw from particular course must obtain a course withdrawal approval from the office of Registration. However, once a student receives ‘F’ grade in midterm Examinations he/she will no longer be eligible for withdrawal. A student who has dropped or withdrawn from a course (officially or unofficially) will not be eligible for any kind of Scholarship, Academic Honors or Awards.

Course Retaking / Repeating

Students receiving a grade of ‘C+’ or below may retake/repeat a course. If a student receives a grade like ‘F’, ‘I’, ‘W’ or ‘UW’ in a particular course he retakes/repeats in the immediate trimester under the following terms and conditions:

• A Student is allowed to retake a course maximum three times

• A Student is allowed to have a maximum of four ‘F’ grades

• From 5th ‘F’ grade onward the grade ‘F’ will be taken into account while computing CGPA.

• In any circumstances, the ‘F’ grade awarded by any disciplinary committee will not be replaced/ removed by a new grade.

The newly earned grade will be displayed alongside the ‘F’ grade. However, for CGPA computation purposes the newly earned grade will be taken into account while computing the CGPA. Students must pay full tuition fees for retaking courses.

Disciplinary Policy

The RPSU administration reserves the right to show cause, suspend, put on probation or even terminate enrollment of any student under the following circumstances:

    ·Failure to meet the financial obligations on schedule
    ·Involving in any political activity in the university
    ·Forming student organization without prior approval of the university authority
    ·Any subversive act against the country or the university
    ·Having any previous criminal records
    ·Involving in any kind of verbal or physical act of violence towards any person of the university
    ·Involvement in any kind of sexual harassment against anyone (student/ staff) related to the university 
    ·Adopting any unfair means in any examination.


Degree Completion
Degree must be completed by a student within an equivalent period of maximum 18 trimester or 12 semesters which is prescribed for each undergraduate degree program.

Discontinuation:

Prior permission is required from the Registrar’s Office for discontinuation of studies for any specific reason. The Leave of Absence Form must be filled out stating the specific reason. Otherwise, the period of absence shall be counted against the student and an absence of 2 consecutive trimesters without prior approval will account to cancellation of studentship from RPSU. 

Academic Scholarship for Freshman Student

An applicant with GPA 5.00 (without optional subject) in HSC or GPA 5.00 both in SSC and HSC or Five ‘A’ in O-Level  at a time and Two ‘A’ in A-Level; no grade lower than ‘B’ must sit for a Scholarship examination and has to pass with satisfactory Grade (the Acceptable grade may vary from time to time and will be decided by the administration). The number of recipients may vary from time to time.


Academic Scholarship for Regular Student

  A regular student may apply for Academic Scholarship under the following circumstances:

    Completed 2 Regular Trimesters
    CGPA of 3.75 or above with no grade lower than ‘B+’ in all academic period.
    Performance (Class Attendance, Class response, quizzes, assignment, mid & final term examination results,   

    manners etc.)

    Extracurricular activities
    Regular Academic load of at least 12 credits per regular semester
    No F/ I /W /UW grade, no dropping or retake of course(s)
    No Disciplinary Action taken.   

The number of recipients may vary from time to time and the Award of Scholarship depends on the availability of slots. The decision to extend scholarship to any individual student    remains at the complete discretion of the RPSU Administration.

Renewal of Grant

For renewal of grant an applicant

    ·Must be a ‘Regular Full Time Student’
    ·Must be enrolled in all Academic courses during the preceding and subsequent trimesters
    ·Must not have any disciplinary record
    ·Must have a CGPA of 3.75 or above with no F/I/W/UW grade, no dropping or retake of course(s)
    ·Must have an attendance of more than 80% at all times.


Academic Honors

For Academic Honor an applicant must satisfy the following criteria:

    ·Be a ‘Regular Full Time Student’
    ·No grade lower than ‘B+’
    ·No F/I/W/UW grade, no dropping or retake of any course
    ·GPA of SSC/ HSC or equivalent examination must be more than or equal to 4.00.
    ·Minimum credit earned at RPSU must be more than 60%.

CGPA
	

Honor
	

Award

3.75 to 3.84
	

Cum Laude
	

Bronze Medal

3.85 to 3.94
	

Magna Cum Laude
	

Silver Medal

3.95 to 4.00
	

Summa Cum Laude
	

Gold Medal

Registration and Payment

A student will go to their respective advisor to register their courses. Most of the full-time faculty members are academic advisors of students. The academic advisors are required to be present at the respective offices during the registration period. The financial guarantor/guardian of the student may visit the academic advisors to be informed about the academic performance of his/her ward. The academic advisors and faculty members would extend their help to the financial guarantor/guardian of the student concerned. Registration must be confirmed 15 days ahead of start of the classes. There is no scope of registration at late. A student has options to clear the dues by maximum 2(two) installments. 1st installment must be cleared within specified days of Registration Confirmation during admission / regular student. 2nd installment must be cleared 7 days ahead of 1st midterm examinations. Without clearing dues the students will not be given admit cards for the examination.

Refund Policy

Adjustment of fees due to withdrawal of enrolment may be granted upon written request of either of the parents or the guarantor. Only tuition fees will be refunded. Admission and other fees will not be refundable. Tuition fees will be refunded to a student who withdraws from a semester after registration as per following rates:

• Within seven days from the days classes begin 100%

• Within sixteen days from the days classes begin 75%

• Within twenty three days from the days classes begin 50%

• No refund after 23 days.

 
Awards

Chancellor’s Award

Chancellor’s Award is given in recognition of the academic performance and is awarded to undergraduates who achieve the highest academic award (Summa Cum Laude), excellent academic background, with proper manners, character and participation in extracurricular activities. Only one is chosen in each program.   


Vice Chancellor’s Award

The Vice Chancellor’s Award is for the meritorious effort for the successful completion of:

• Best ‘Thesis’ of Undergraduate program

• Best ‘Design Project’ of Undergraduate program

• Best ‘Internship Report’ of Undergraduate program


Chairman’s Award

This award is given in recognition of the outstanding voluntary efforts, achievements, contributions and the exemplary performance of deserving students. Must be a Regular Full Time Student and with a minimum CGPA is 3.20.


Declaration

I hereby accept to abide by all the rules and regulations of the University and the RPSU Code of Conduct. I also understand that any non compliance or violation of RPSU rules or Code of Conduct may lead to the cancellation or termination of my enrolment at RPSU.

</p>
</div>


</body>
</html>


